.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Lato', 'sans serif';
}

main {
  overflow-y: hidden;
}

/* Navbar */

nav {
  display: flex;
  align-items: center;
  /* background-color: #21222A; */
  /* height: 90px; */
  width: 100%;
  height: 90px;
  left: 0;
  top: 0;
  position: fixed;
  background: #101F2C;
  padding: 30px 25px;
}

.nav--logo_text,
.nav--title {
  margin: 0;
}

.nav--logo_text {
  margin-right: auto;
  color: #F6F6F6;
  font-weight: 800;
  font-size: 32px;
  margin-left: 15px;
  font-family: 'Lato';
}

.nav--item {
  color: #F6F6F6;
  font-weight: 400;
  font-size: 1.3rem;
  font-family: 'Lato';
  margin-right: 35px;
}

.nav--icon {
  height: 55px;
  margin-right: 7px;
}

/* Landing */

.landing-main {
  /* padding: 57px 27px; */
  display: flex;
  text-align: left;
  margin-top: 150px;
  margin-left: 5%;
  /* color: white; */
}

.landing-main--content {
  margin-left: 2.143%;
}


.landing-main--title {
  /* margin: 0; */
  margin-top: 80px;
  margin-left: 0;
  font-size: 39px;
  letter-spacing: -0.05em;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 800;
  font-size: 52px;
  line-height: 62px;
  color: black;
}

.landing-main--text {
  margin-top: 46px;
  max-width: 650px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 50px;
  color: black;
}

.landing-main--img {
  height: 94%;
  margin-left: 7.5%;
}

/* Register Healthcare Provider */

.healthcare--main {
  text-align: center;
  margin-top: 80px;
}

.healthcare--title {
  /* margin: 0; */
  margin-top: 80px;
  margin-left: 0;
  text-align: center;
  font-size: 39px;
  letter-spacing: -0.05em;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 800;
  font-size: 52px;
  line-height: 62px;
  color: black;
}

.healthcare--subtitle {
  /* margin-top: 46px;
  max-width: 650px; */
  font-family: 'Lato';
  font-style: normal;
  text-align: center;
  font-weight: 400;
  font-size: 21px;
  line-height: 50px;
  color: black;
  margin-top: 30px;
}

.healthcare--form {
  display: flex;
  flex-direction: column;
  /* text-align:center;  */
  /* vertical-align:middle; */
}

form {
  display: inline-block;
  vertical-align: middle;
}

.register-label {
  text-align: right;
  margin-right: 90px;
  margin-top: 50px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 50px;
  color: black;
}

.register-input {
  width: 400px;
  height: 50px;
  border-radius: 30px;
  border-color: transparent;
  background-color: #f6f6f6;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

/* input:focus{
  border-color: #d0eafe;
  outline: none;
} */
.form-field {
  text-align: right;
}

.submit-button {
  margin: 30px;
}

/* Neonatal care */

.neonatal--main {
  text-align: center;
  margin-bottom: 150px;
  margin-top: 150px;
}

.neonatal--title {
  font-family: 'Lato';
  font-size: 39px;
  color: black;
  font-weight: 800;
}

.neonatal--content {
  display: flex;
  justify-content: space-evenly;
  text-align: left;
  margin-top: 90px;
}

.neonatal--img {
  width: 450px;
}

.neonatal--text {
  margin-right: 90px;
  max-width: 650px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 50px;
  color: black;
}

.neonatal--tips {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.neonatal--tip {
  background-color: #E8ECEF;
  border-radius: 30px;
  height: 80px;
  width: 650px;
  padding: 13px 20px;
  text-align: center;
  color: #10152C;
}

.lightblue {
  background-color: #D0EAFE;
}

/* Volunteer */

.volunteer--main {
  text-align: center;
  margin-bottom: 150px;
  margin-top: 200px;
}

.volunteer--title {
  font-family: 'Lato';
  font-size: 39px;
  color: black;
  font-weight: 800;
}

.volunteer--content {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  margin-top: 50px;
}

.volunteer--text {
  text-align: center;
  /* margin-right: 90px; */
  max-width: 850px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 50px;
  color: black;
}

.volunteer--cards {
  justify-content: space-evenly;
  display: flex;
}

.volunteer--card {
  background-color: #F5F5DA;
  border-radius: 30px;
  height: 140px;
  width: 320px;
  padding: 43px 20px;
  margin: 20px 0px;
  text-align: center;
  color: #10152C;
}

.lightblue {
  background-color: #D0EAFE;
}

.volunteer--interested {
  text-align: center;
  margin-bottom: 150px;
  margin-left: 120px;
  display: flex;
}

.volunteer--interested--content {
  margin-top: 100px;
  margin-left: 50px;
  margin-right: 100px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 50px;
  color: black;
}

/* Thanks for registering */

.thanks-for-registering-main {
  text-align: center;
  margin-bottom: 150px;
  margin-top: 150px;
}

.thanks-for-registering-main--content {
  margin-top: 50px;
}

.thanks-for-registering-main--title {
  font-family: 'Lato';
  font-size: 39px;
  color: black;
  font-weight: 800;
}

/* Search for SNCU */

/* .search-for-SNCU-main {
  text-align: center;
  margin-bottom: 150px;
  margin-top: 150px;
}

.search-for-SNCU-main--content {
  margin-top: 50px;
}

.search-for-SNCU-main--title {
  font-family: 'Lato';
  font-size: 39px;
  color: black;
  font-weight: 800;
} */

.search-for-SNCU--main-form {
  display: flex;
  flex-direction: column;
}

.search-for-SNCU--form {
  display: flex;
  justify-content: space-evenly;
}

.search-for-SNCU--label {
  text-align: right;
  margin-right: 40px;
  margin-top: 20px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 50px;
  color: black;
}

.search-for-SNCU--input {
  width: 250px;
  height: 40px;
  border-radius: 30px;
  border-color: transparent;
  background-color: #f6f6f6;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.transport {
  display: flex;
}

/* Login/Register */

.login-register-content {
  display: flex;
  margin-top: 200px;
  justify-content: space-evenly;
}

.login-register-healthcare {
  display: flex;
  flex-direction: column;
}

.login-register-SNCU {
  display: flex;
  flex-direction: column;
}

.login-register-hr {
  height: 100px;
  color: black;
}

