.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Lato','sans serif';
}

main {
  overflow-y: hidden;
}

nav {
  display: flex;
  align-items: center;
  /* background-color: #21222A; */
  /* height: 90px; */
  width: 100%;
  height: 90px;
  left: 0px;
  top: 0px;
  background: #101F2C;
  padding: 30px 25px;
  position: absolute;
  background: #101F2C;
}

.nav--logo_text,
.nav--title {
  margin: 0;
}

.nav--logo_text {
  margin-right: auto;
  color: #F6F6F6;
  font-weight: 800;
  font-size: 32px;
  margin-left: 15px;
  font-family: 'Lato';
}

.nav--item {
  color: #F6F6F6;
  font-weight: 400;
  font-size: 1.3rem;
  font-family: 'Lato';
  margin-right: 35px;
}

.nav--icon {
  height: 55px;
  margin-right: 7px;
}

.landing--main{
  /* padding: 57px 27px; */
  display: flex;
  text-align: left;
  margin-top: 150px;
  margin-left: 5%;
  /* color: white; */
}

.main--content {
  margin-left: 2.143%;
}


.main--title {
  /* margin: 0; */
  margin-top: 80px;
  margin-left: 0;
  font-size: 39px;
  letter-spacing: -0.05em;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 800;
  font-size: 52px;
  line-height: 62px;
  color: black;
}

.main--text {
  margin-top: 46px;
  max-width: 650px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 50px;
  color: black;
}

.landing--img {
  height: 94%;
  margin-left: 7.5%;
}
.healthcare--main{
  text-align: center;
  margin-top: 80px;
}
.healthcare--title {
  /* margin: 0; */
  margin-top: 80px;
  margin-left: 0; 
  text-align: center;
  font-size: 39px;
  letter-spacing: -0.05em;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 800;
  font-size: 52px;
  line-height: 62px;
  color: black;
}

.healthcare--subtitle {
  /* margin-top: 46px;
  max-width: 650px; */
  font-family: 'Lato';
  font-style: normal;
  text-align: center;
  font-weight: 400;
  font-size: 21px;
  line-height: 50px;
  color: black;
  margin-top: 30px;
}
.healthcare--form{
  text-align:center; 
  vertical-align:middle;
}
form{
  display: inline-block;
  vertical-align: middle;
}